[Unit]
Description=rtl8812au Compiler
After=network.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/rtl8812auEasyCompile.sh


[Install]
WantedBy=multi-user.target

